.camera{
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .border{

    width: 540px;
    height: 300px;
    background-color: black;
    border-radius: 15px;
    align-items: end;
    justify-content: end;
    display: flex;
    border-left: 44px solid   rgb(51, 48, 48);
    border-top: 50px solid rgb(39, 37, 37);

    .btn{

      background-color: rgb(0, 0, 0);
      padding: 14px 14px;
      border-radius: 50px;
      margin-bottom: 57%;  
      margin-right: 50%;
      cursor: pointer;
    }
    h2{
      color: white;
      font-style: initial;
      margin-bottom:58%;
      margin-right: -34%;
    }

    .big-cricle{

      height: 185px;
      width: 185px;
      border-radius: 50%;
      margin: 37px 37px;
      background-color: rgb(0, 0, 0);
      border: 17px solid grey;
      display: flex;
      align-items: center;
      justify-content: center;
      .medium-cricle{

        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: rgb(48, 64, 64);
        border: 10px solid grey;
        border-radius: 50%;

        .small-cricle{
          width: 35px;
          height: 35px;
          background-color: rgb(29, 46, 46);
          border-radius: 50%;
          margin: 55px 55px;
        }
      }
    }
  }
}
.light{

  height: 100px;
  width: 100px;
  background-color:rgb(39, 37, 37);
  margin-top: 15%;
  margin-left: 57%;
  border-radius:15px;
  .flash{
    height: 50px;
    width: 50px;
    background-color:rgb(75, 72, 72);
    margin-left: 26%;
    border-radius:15px;
  }

}